[submodule "ITLab-Front"]
	path = ITLab-Front
	url = https://github.com/RTUITLab/ITLab-Front.git
[submodule "ITLab-Projects-Front"]
	path = ITLab-Projects-Front
	url = https://github.com/RTUITLab/ITLab-Projects-Front.git
[submodule "ITLab-Reports-Front"]
	path = ITLab-Reports-Front
	url = https://github.com/RTUITLab/ITLab-Reports-Front.git
[submodule "ITLab-Purchases-Front"]
	path = ITLab-Purchases-Front
	url = https://github.com/RTUITLab/ITLab-Purchases-Front
[submodule "ITLab-Feedback-Front"]
	path = ITLab-Feedback-Front
	url = https://github.com/RTUITLab/ITLab-Feedback-Front.git
